<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>TIPs</title>
	<link rel="stylesheet" href="style.css">
	<link rel="icon" type="image/png" href="img/logo.png" />
	<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script> 
		$(function(){
			$("#header").load("header.html");
			$("#footer").load("footer.html"); 
		});
	</script>
</head>

<body>
	<div id="app">
		<header id="header"></header>

		<div id="filter-box">
			<div id="filter-head" @click="toggleFilters()"><h4>Filter list...</h4> <button id="show-filters-button"></button></div>
			<div id="filter-controls">
				<div class="filter-control">
					<b>Type:&emsp;</b>
					<label><input type="checkbox" v-model="filters.types.imager"/>Imager</label>&emsp;
					<label><input type="checkbox" v-model="filters.types.spectrograph"/>Spectrograph</label>&emsp;
					<!-- <label><input type="checkbox" v-model="filters.types.polarimeter"/>Polarimeter</label>&emsp; -->
					<!-- <label><input type="checkbox" v-model="filters.types.interferometer"/>Interferometer</label>&emsp; -->
					<a class="more-button" onclick="$('#extra-types').toggle();this.innerHTML=this.innerHTML==='more...'?'less...':'more...';">more...</a>
					<div id="extra-types">
						<label><nobr><input type="checkbox" v-model="filters.types.coronagraph"/>Coronagraph</nobr></label>&emsp;
						<!-- <label><nobr><input type="checkbox" v-model="filters.types.mos"/>Multi-object spectrograph</nobr></label>&emsp; -->
						<label><nobr><input type="checkbox" v-model="filters.types.ifs"/>Integral field spectrograph</nobr></label>&emsp;
						<!-- <label><nobr><input type="checkbox" v-model="filters.types.fts"/>Fourier transform spectrograph</nobr></label>&emsp; -->
					</div>
				</div>
				<div class="filter-control">
					<b>Wavelength:&emsp;</b>
					<label><input type="number" step="any" placeholder="None" v-model="filters.wvl" @input="checkEmpty('wvl',null);"/>&ensp;nm</label>
					<!-- <label><span id="wvl-unit">nm</span>&emsp;<input type="checkbox" v-model="filters.temp"/>Use frequency</label> -->
				</div>
				<div class="filter-control">
					<b>Resolution:&emsp;</b>
					<label>
						<input type="number" step="any" placeholder="min" v-model="filters.resolution.physmin" @input="checkEmpty('resolution.physmin',-Infinity)"/> &ndash;
						<input type="number" step="any" placeholder="max" v-model="filters.resolution.physmax" @input="checkEmpty('resolution.physmax',Infinity)"/> &Prime; </label>&emsp;
					<label>R = 
						<input type="number" step="any" placeholder="min" v-model="filters.resolution.specmin" @input="checkEmpty('resolution.specmin',-Infinity)"/> &ndash;
						<input type="number" step="any" placeholder="max" v-model="filters.resolution.specmax" @input="checkEmpty('resolution.specmax',Infinity)"/></label>
				</div>
				<div class="filter-control">
					<b>FOV:&emsp;</b>
					<label>
						<input type="number" step="any" placeholder="min" v-model="filters.fovmin" @input="checkEmpty('fovmin',-Infinity)"/> &ndash;
						<input type="number" step="any" placeholder="max" v-model="filters.fovmax" @input="checkEmpty('fovmax',Infinity)"/> &prime;
					</label>
				</div>
				<div class="filter-control">
					<b>Aperture:&emsp;</b>
					<label>
						<input type="number" step="any" placeholder="min" v-model="filters.aperturemin" @input="checkEmpty('aperturemin',-Infinity)"/> &ndash;
						<input type="number" step="any" placeholder="max" v-model="filters.aperturemax" @input="checkEmpty('aperturemax',Infinity)"/> m
					</label>
				</div>
				<div class="filter-control">
					<b>Location:&emsp;</b>
					<label><input type="checkbox" v-model="filters.north"/> North</label>&emsp;
					<label><input type="checkbox" v-model="filters.south"/> South</label>
				</div>
				<div class="filter-control">
					<b>Keywords:&emsp;</b>
					<input type="text" placeholder="comma-separated keywords" v-model="filters.keywords"/>
				</div>
				<a @click="clearFilters()">Clear filters</a>
			</div>
		</div>

		<div id="jumpto">
			<p>Jump to:&emsp;
				<a v-for="telescope in filteredTelescopes" :key="telescope.nameshort" :href="'#' + telescope.nameshort">
					{{ telescope.nameshort }}
				</a>
			</p>
		</div>

		<div id="telescope-container">
			<div v-for="telescope in filteredTelescopes" :key="telescope.nameshort" class="telescope" :id="telescope.nameshort">
				<div class="telescope-header">
					<div class="telescope-img" v-if="telescope.image">
						<img :src="telescope.image" :alt="telescope.name" />
						<p>Credit: {{ telescope.imcredit }}</p>
					</div>
					<h3>{{ telescope.name }}</h3>
					<p class="telescope-info">
						{{ telescope.location }}<br>
						<span v-if="telescope.altitude">{{ telescope.altitude }}</span>
						<span v-if="telescope.latitude">, {{ formatLatitude(telescope.latitude) }}</span>
					</p>
					<p>{{ telescope.primirror }} primary mirror</p>
					<p>
						<a v-if="telescope.website" :href="telescope.website" target="_blank">Website</a>&emsp;
						<a v-if="telescope.etc" :href="telescope.etc" target="_blank">Exposure time calculator</a>
					</p>
					<p v-if="telescope.restrictions" class="restrictions">
						Observing restrictions:<br>
						<span v-if="telescope.restrictions.affiliation">Affiliation: 
							<span v-for="(affil,index) in telescope.restrictions.affiliation" :key="affil">
								<span v-if="index != 0">, </span>{{ affil }}
							</span><br>
						</span>
						<span v-if="telescope.restrictions.general">{{ telescope.restrictions.general }}</span>
					</p>
				</div>
				<div class="instrument-bar">
					<button v-for="instrument in telescope.instruments" :key="instrument.name" class="instrument-button" @click="toggleInstrument(telescope.nameshort, instrument.name)">
					{{ instrument.name }}
				</button>
				</div>
				<div class="instrument-container">
					<div v-for="instrument in telescope.instruments" :key="instrument.name" class="instrument" :id="`${telescope.nameshort}-${instrument.name}`">
						<div class="instrument-properties">
							<h4>{{ instrument.namelong }}</h4>
							<div v-if="instrument.firstlight">
								<i>First Light: {{ instrument.firstlight }}</i>
							</div>
							<div :class="{'has-details': hasDetails(instrument,'type')}"
								v-clickenter="(event) => handleClick(telescope,instrument,'type')"
								tabindex="0">
								{{ instrument.type }}
							</div>
							<div v-if="instrument.wavelengths" :class="{'has-details': hasDetails(instrument,'wavelengths')}"
								v-clickenter="(event) => handleClick(telescope,instrument,'wavelengths')"
								tabindex="0">
								<b>Wavelength range:</b> {{ instrument.wavelengths[0] }}&ndash;{{ instrument.wavelengths[1] }} {{ instrument.wavelengths[2] }}
							</div>
							<!--Iterate over instrument properties-->
							<template v-for="(property, key) in instrument" :key="key">
								<div v-if="useKey(key)"
									:class="{'has-details': hasDetails(instrument,key)&&!Array.isArray(instrument[key]), 'has-subproperties': Array.isArray(property)}"
									v-clickenter="(event) => handleClick(telescope,instrument,key)"
									v-bind:tabindex="hasDetails(instrument, key) && !Array.isArray(instrument[key]) ? 0 : null">
									<strong>{{ getLabel(key) }}:</strong>
									<!--if no subproperties-->
									<span v-if="!Array.isArray(property)">&ensp;{{ property }}</span>
									<!--if has subproperties-->
									<div v-if="Array.isArray(property)" class="subproperty-container">
										<div v-for="(subproperty,i) in property"
											:key="i" class="subproperty"
											:class="{'has-details': hasDetails(instrument,key)}"
											v-clickenter="(event) => handleClick(telescope,instrument,key,i)"
											tabindex="0">
											{{ subproperty }}
										</div>
									</div>
								</div>
							</template>
							<div v-if="hasDetails(instrument,'other')"
								class="has-details"
								v-clickenter="(event) => handleClick(telescope,instrument,'other')"
								tabindex="0">
								Other details
							</div>
						</div>
						<div v-for="(detail,key) in getInstrumentDetails(instrument)"
							:key="key" class="property-detail"
							:id="`${telescope.nameshort}-${instrument.name}-${key}`">
							<h4>{{ getDetailLabel(instrument,key) }}</h4>
							<p v-for="(item,i) in detail" :key="i" v-html="item"></p>
						</div>
					</div>
				</div>
				<div class="telescope-bottom-bar">
					<button class="collapse-button" @click="collapse(telescope.nameshort)"></button>
				</div>
			</div>
		</div>
	</div>
	<script src="app.js"></script>
	
	<footer id="footer"></footer>
</body>