/* overall page styles */
html {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  color: #f5f5f5;
  background-image: linear-gradient(#222, #555);
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
#about-page {
  margin: auto;
  width: 70%;
  flex: 1;
}
#about-page > div {
  text-align: justify;
  margin-top: 50px;
}
#thanks {
  margin: auto;
  width: 70%;
}

/* heading styles */
h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0 20px 0;
}
h2 {
  text-align: center;
}

/* link styles */
a {
  color: #5cd5e3;
  text-decoration: none;
}
a:hover {
	color: #4bb4bf;
  text-decoration: underline;
}

.navigation {
  text-align: center;
  margin-bottom: 10px;
}

#filter-box {
  width: 50%;
  margin: auto;
  border-bottom: 1px solid #444;
  padding: 5px;
}
#filter-head {
  text-align: center;
  cursor: default;
}
#filter-head > h4 {
  text-align: center;
  display: inline;
}
#show-filters-button {
  border: none;
	background: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27100%20170%20300%20160%27><path d=%27M245%20320%20L110%20185%20a6%2C6%20180%200%201%205%2C-10%20L390%20175%20a6%2C6%20180%200%201%205%2C10%20L255%20320%20a6%2C6%20180%200%201%20-10%2C0%27 style=%27fill:%23f5f5f5;%27/></svg>") no-repeat center;
  cursor: pointer;
  margin: 5px;
}
#show-filters-button::after {
	content: "\00A0";
}
#filter-controls {
  display: flex;
  justify-content: center;
}
#filter-controls > p {
  width: 80%;
  text-align: center;
}

#jumpto {
	text-align: center;
	width: 50%;
	margin: auto;
}
#jumpto a {
  margin-right: 1em;
}

/* container styles */
#telescope-container {
  margin: 30px 10%;
  padding-bottom: 10px;
}

/* telescope styles */
.telescope {
  margin-bottom: 30px;
  background-color: #383838;
  border: 1px solid #bbb;
  box-shadow: 0 0 3px #ddd;
	overflow: hidden;
}
.telescope-header {
  padding: 20px;
  border-bottom: 1px solid #bbb;
	color: #f5f5f5;
	overflow: hidden;
}
.telescope-header h3 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 5px;
}
.telescope-header p {
  margin: 0;
  margin-bottom: 10px;
  font-style: italic;
}
p.restrictions {
  font-style: normal;
}
p.restrictions > span {
  margin-left: 20px;
}
.telescope-img {
  float: right;
  height: 200px;
}
.instrument-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #bbb;
  background-color: #383838;
}
.instrument-button {
  padding: 5px 10px;
  border: none;
  background-color: transparent;
	color: #f5f5f5;
  cursor: pointer;
  font-size: 16px;
}
.instrument-button.active {
  border-bottom: 2px solid #4bb4bf;
  color: #4bb4bf;
}

/* instrument styles */
.instrument-container {
  overflow: hidden; /* Prevent the instruments from overflowing */
}
.instrument {
  background-color: #2c2c2c;
  padding: 0 20px;
  padding-right: 0;
  display: none;
  overflow: hidden;
}
.instrument h4 {
  font-size: 18px;
  margin: 20px 0 5px 0;
}
.instrument-properties {
  flex-basis: 50%;
  flex-shrink: 0;
}
.instrument-properties > div {
  margin: 0;
  padding: 7px 20px;
}
.instrument-properties .has-details:hover {
  background-color: #333;
  cursor: default;
}
.instrument-properties .has-details:focus {
  background-color: #444;
}
.instrument-properties p:focus + .property-detail {
  display: block;
}
div.has-subproperties {
  padding-top: 7px;
  padding-left: 20px;
  padding-right: 0;
}
.has-subproperties .subproperty {
  padding: 4px 20px;
}
.property-detail {
  display: none;
  flex-basis: 50%;
  background-color: #444;
  padding: 0 20px;
}
.property-detail p {
  padding-left: 0;
}
.telescope-bottom-bar {
  overflow: hidden;
  margin: 0;
  background-color:  #2c2c2c;
}
.collapse-button {
  border: none;
	background: url(data:image/svg+xml;base64,PCEtLSBSZXBsYWNlIHRoZSBjb250ZW50cyBvZiB0aGlzIGVkaXRvciB3aXRoIHlvdXIgU1ZHIGNvZGUgLS0+Cgo8c3ZnIHJvbGU9ImltZyIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTI1NSAxODAgTDM5MCAzMTUgYTYsNiAwIDAgMSAtNSwxMCBMMTEwIDMyNSBhNiw2IDAgMCAxIC01LC0xMCBMMjQ1IDE4MCBhNiw2IDAgMCAxIDEwLDAiIHN0eWxlPSJmaWxsOiNmNWY1ZjU7Ii8+Cjwvc3ZnPg==) no-repeat center;
  cursor: pointer;
  margin: 10px;
  float: left;
}
.collapse-button::after {
	content: "\00A0";
}

ul {
  margin: 0;
}
li {
  padding: 2px 0;
}

header {
  background-color: #222;
  padding: 5px;
}
footer {
  position: static;
  bottom: 0;
  right: 0;
  height: 30px;
  text-align: center;
  padding: 5px;
}

/* Collapse arrow svg:
<svg height="500" width="500">
  <path d="M255 180 L390 315 a6,6 0 0 1 -5,10 L110 325 a6,6 0 0 1 -5,-10 L245 180 a6,6 0 0 1 10,0" style="fill:#f5f5f5;"/>
</svg>
Expand arrow:
<svg height="500" width="500">
  <path d="M245 320 L110 185 a6,6 180 0 1 5,-10 L390 175 a6,6 180 0 1 5,10 L255 320 a6,6 180 0 1 -10,0" style="fill:#f5f5f5;"/>
  <path d="M -5 70 L -140 -65 a 6 6 180 0 1 5 -10 L 140 -75 a 6 6 180 0 1 5 10 L 5 70 a 6 6 180 0 1 -10 0" style="fill:#f5f5f5;"/>
</svg>
*/